/* CSS Document */
body {
  margin: 0;
  padding: 0;
  font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
  background: #34495e
}

/*类型选择器*/
.box {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #191919;
  text-align: center;
}

/*class类选择器、定义 2D 转换、文本排列到中间*/
h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

/*定义仅有大写字母*/
.a {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

/*不显示背景图像、此元素将显示为块级元素，此元素前后会带有换行符、浏览器计算外边距、设置所有的边框属性、设置所有的边框属性、设置宽度和高度、 默认，定义无轮廓、圆角边框、鼠标放上宽度发生变化*/
.a:focus {
  width: 280px;
  border-color: #2ecc71;
}

/*选择获得焦点的 input 元素、点击更换宽度和颜色*/
.b {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

/*光标呈现为指示链接的指针*/
.b:hover {
  background-color: #2ecc71;
}

/*鼠标悬停背景颜色更换*/
.div {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 30px;
  /* width: 128px; */
  width: 200px;
  background-color: #3498db;

}