/* 网页基础样式 */
html,
body {
  margin: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #000000 0%, #5788fe 100%);
  font-family: questrial, 'noto serif sc';
}

/* 滤镜效果 */
.filter {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #fe5757;
  animation: colorChange 30s ease-in-out infinite;
  animation-fill-mode: both;
  mix-blend-mode: overlay;
}

@keyframes colorChange {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: .9;
  }
}

/*渐变效果*/

/* 地景背景样式 */
.landscape {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('');
  /* 替换为你想要的背景图片 */
  background-size: 1000px 250px;
  background-repeat: repeat-x;
  background-position: center bottom;
}

/* 网页内容样式 */
.content {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  text-align: center;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.content .title {
  margin: 15px 0;
  font-size: 2.5em;
  letter-spacing: 4px;
  color: #fff;
}

.content .hr {
  width: 50%;
  margin: 20px auto;
  border: none;
  border-top: 1px solid #fff;
  height: 1px;
}

.content .discription {
  font-size: 20px;
  margin: 20px;
}

/* 导航样式 */
.cover-navigation {
  margin: 30px;
}

nav {
  display: inline-block;
  position: relative;
}

.navigation {
  display: inline-block;
  position: relative;
  margin: 0;
  list-style-type: none;
}

.navigation__item {
  display: inline-block;
  line-height: 1em;
  padding: 1em 0;
}

.navigation__item a {
  position: relative;
  color: #fff;
  opacity: 0.8;
  transition: all 0.3s;
  padding: 10px 20px;
  border: 1px solid #fff;
  border-radius: 20px;
  font-size: 0.9em;
  font-weight: 700;
  letter-spacing: 1px;
  text-shadow: none;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
}

/* 导航条悬浮样式 */
.navigation__item a:hover {
  color: #fff;
  background: #ff7f00;
  border-color: #ff7f00;
  opacity: 1;
  transition: all 0.3s;
}

/* 重置列表样式 */
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* ICP 样式 */
.icp {
  margin: 20px;
}

.icpnum {
  color: #fff;
  text-decoration: none;
}