/* 通用页面样式 */
body {
  margin: 0;
  padding: 0;
  font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
  background: #34495e;
  color: white;
  text-align: center;
}

/* 页面中心化的容器 */
.box {
  width: 400px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #191919;
  text-align: center;
  border-radius: 24px;
}

h1,
h2 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

/* 通用输入框样式 */
.a {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

/* 登录/注册按钮和购物车按钮样式 */
.b {
  border: 0;
  background: none;
  display: inline-block;
  margin: 20px 10px;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.b:hover {
  background-color: #2ecc71;
}

nav a {
  display: inline-block;
  margin: 10px;
  padding: 14px 20px;
  background-color: #2ecc71;
  color: white;
  text-decoration: none;
  border-radius: 24px;
  transition: 0.25s;
}

nav a:hover {
  background-color: #3498db;
}

/* 提示文本的样式 */
p {
  color: white;
  font-size: 16px;
  margin-top: 10px;
}